/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  /* background: #333; */
  background-image: url(https://www.indiaheritagewalks.org/sites/default/files/styles/frontpage_slideshow/public/2021-03/2021-03-25.jpg?itok=FspYxJ5X);
  background-repeat: repeat;
}
#navbar{
  background-color:#444 ;
  width: 100%;
}
#addticket{
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 900;
}
#dashboard{
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 900;
}
#footer{
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border:2px solid #444;
     
   
  }

.App {
  max-width: 728px;
  margin: 4rem auto;
}

.App > h1 {
  text-align: center;
  margin: 1rem 0;
}

.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #333333;
}

.Card--text h1 {
  color: #ff9900;
}

.Card--button button {
  background: #f5f6f7;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.Card--button__delete {
  border: 1px solid #ca0000;
  color: #ca0000;
}

.Card--button__done {
  border: 1px solid #00aa69;
  color: #00aa69;
  margin-right: 1rem;
}

.Form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #444;
  margin-bottom: 1rem;
}

.Form > div {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.Form input {
  background: #f5f6f7;
  padding: 0.5rem 1rem;
  border: 1px solid #ff9900;
  border-radius: 10px;
  display: block;
  width: 400px;
  margin: 0.5rem 1rem 0 0;
  font-size: 16px;
  color: black;
}

.Form button {
  background: #ff9900;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-top: 24px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#box select {
  padding: 0.5rem 1rem;
  border: 1px solid #ff9900;
  border-radius: 10px;
  background-color: #e8f0f8;
  color: rgb(10, 0, 0);

  width: 400px;

  font-size: 16px;
  box-shadow: 0 5px 25px rgba(240, 236, 236, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
#form-heading{
    text-align: center;
    margin-bottom: 9px;
}
h3 {
  margin-top: 9px;
  margin-bottom: 9px;
  text-align: center;
}

#box select option {
  padding: 20px;
}

#box2 select {
  padding: 0.5rem 1rem;
  border: 1px solid #ff9900;
  border-radius: 10px;
  background-color: #e8f0f8;
  color: rgb(10, 0, 0);

  width: 400px;

  font-size: 16px;
  box-shadow: 0 5px 25px rgba(240, 236, 236, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  margin-top: 9px;
}

#box2 select option {
  padding: 20px;
}

#form {
  margin-left: auto;
  margin-right: auto;
}
.line-through {
  text-decoration: line-through;
  color: #777 !important;
}

.hide-button {
  display: none;
}

#tickitoform {
  display: grid;
  grid-template-columns: auto;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .Form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: #444;
        margin-bottom: 1rem;
        width: 100%;
      }
      .Form > div {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
      }
      
      .Form input {
        background: #f5f6f7;
        padding: 0.5rem 1rem;
        border: 1px solid #ff9900;
        border-radius: 10px;
        display: block;
        width: 100%;
        margin: 0.5rem 1rem 0 0;
        font-size: 16px;
        color: black;
      }
      
      .Form button {
        background: #ff9900;
        color: #fff;
        padding: 1rem 1rem;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        margin-top: 24px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
      }
      
      #box select {
        padding: 0.5rem 1rem;
        border: 1px solid #ff9900;
        border-radius: 10px;
        background-color: #e8f0f8;
        color: rgb(10, 0, 0);
      
        width: 100%;
        font-size: 16px;
        box-shadow: 0 5px 25px rgba(240, 236, 236, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
      }
      
#box2 select {
    padding: 0.5rem 1rem;
    border: 1px solid #ff9900;
    border-radius: 10px;
    background-color: #e8f0f8;
    color: rgb(10, 0, 0);
  
    width: 100%;
  
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(240, 236, 236, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin-top: 9px;
  }
 
}
@media (max-width: 768px) and (min-width: 481px) {
    .Form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: #444;
        margin-bottom: 1rem;
        width: 100%;
      }
      .Form > div {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
      }
      
      .Form input {
        background: #f5f6f7;
        padding: 0.5rem 1rem;
        border: 1px solid #ff9900;
        border-radius: 10px;
        display: block;
        width: 100%;
        margin: 0.5rem 1rem 0 0;
        font-size: 16px;
        color: black;
      }
      
      .Form button {
        background: #ff9900;
        color: #fff;
        padding: 1rem 1rem;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        margin-top: 24px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
      }
      
      #box select {
        padding: 0.5rem 1rem;
        border: 1px solid #ff9900;
        border-radius: 10px;
        background-color: #e8f0f8;
        color: rgb(10, 0, 0);
      
        width: 100%;
        font-size: 16px;
        box-shadow: 0 5px 25px rgba(240, 236, 236, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
      }
      
#box2 select {
    padding: 0.5rem 1rem;
    border: 1px solid #ff9900;
    border-radius: 10px;
    background-color: #e8f0f8;
    color: rgb(10, 0, 0);
  
    width: 100%;
  
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(240, 236, 236, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin-top: 9px;
  }
}
@media (max-width: 480px) {
    .Form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: #444;
        margin-bottom: 0.5rem;
        width: 100%;
        margin-top: 35%;
        padding-top: 2rem ;
      }
      .Form > div {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
      }
      
      .Form input {
        background: #f5f6f7;
        padding: 0.5rem 1rem;
        border: 1px solid #ff9900;
        border-radius: 10px;
        display: block;
        width: 100%;
        margin: 0.5rem 1rem 0 0;
        font-size: 16px;
        color: black;
      }
      
      .Form button {
        background: #ff9900;
        color: #fff;
        padding: 1rem 1rem;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        margin-top: 24px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
      }
      
      #box select {
        padding: 0.5rem 1rem;
        border: 1px solid #ff9900;
        border-radius: 10px;
        background-color: #e8f0f8;
        color: rgb(10, 0, 0);
      
        width: 100%;
        font-size: 16px;
        box-shadow: 0 5px 25px rgba(240, 236, 236, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
      }
      
#box2 select {
    padding: 0.5rem 1rem;
    border: 1px solid #ff9900;
    border-radius: 10px;
    background-color: #e8f0f8;
    color: rgb(10, 0, 0);
  
    width: 100%;
  
    font-size: 16px;
    box-shadow: 0 5px 25px rgba(240, 236, 236, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin-top: 9px;
  }
   
}
